{% extends 'todo/base.html' %}
{% load static %}

{% block title %}<title>Signup Page</title>{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'todo/css/signup.css' %}" />
{% endblock style %}

{% block content %}
  <div class="container my-4 w-50">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card mt-5">
            <h1 class="card-title text-center mt-4">Create Account</h1>
          <div class="card-body">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              <strong>Error:</strong> Please correct the errors below.
              <ul>
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{error}}</p>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          {% endif %}
            <form action="" method="post" novalidate>
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
              {% endfor %}
              
              <div class="form-group">
                <button type="submit" class="btn my-btn btn-primary btn-block">Signup</button>
              </div>
              <div class="already-have-account">
                <center><span style="font-weight: bold;">Already have an account?</span>
                <div class="login-link">
                  <a href="{% url 'login' %}">Login</a>
                </div>
              </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
